body {
  margin: 0;
  height: 100vh;
  background-color: #f0f2f5;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
  background-color: #1b74e4;
  font-family: Arial, Helvetica, sans-serif;
}

main {
  width: 100%;
  margin: 1% 0 1% 0;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  overflow: auto;
}

/*----------*/
.h-link {
  color: #ffffff;
  padding: 10px;
  cursor: pointer;
  text-decoration: none;
}

.h-link:hover {
  color: goldenrod;
}

#colunaImagem {
  width: 60%;
  min-width: 665px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#colunaOpcoes {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
  min-width: 370px;
}

/*----------*/

#filtros {
  background-color: darkred;
}

/*----------*/

footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: #f1f1f1;
  background-color: #1b74e4;
  position: sticky;
  bottom: 0;
}

footer > a {
  padding: 0 20px 0 20px;
}

footer > a > img {
  width: 30px;
  height: 30px;
}
