#colunaImagem {
  width: 70%;
  min-width: 700px;
  background-color: brown;
  display: flex;
  flex-direction: column;
}

/*----------*/

#controleDeImagem {
  background-color: crimson;
  width: 10px;
}

/*----------*/
#ladoDoMedidorV {
  width: 25px;
  display: flex;
  justify-content: flex-start;
  background-color: aquamarine;
}
/*----------*/
#controleV {
  transform: rotate(270deg);
  width: 420px;
  height: 475px;
  position: absolute;
  left: -200px;
  cursor: pointer;
}

#controleH {
  margin-left: 10px;
  width: 620px;
  cursor: pointer;
}

#telaDeImagem {
  width: 620px;
  height: 420px;
  background-color: cadetblue;
  position: relative; /*mantêm as 2 imagens sobrepostas*/
  border: 10px solid white;
}
/*----------*/
#imagemFrente {
  background-image: linear-gradient(red, yellow);
  width: 50%;
}

#imagemFundo {
  background-image: linear-gradient(blue, yellow, green);
  width: 100%;
}

.imagemSobreposta {
  width: 100%;
  height: 100%;
  position: absolute;
  background-repeat: no-repeat;
}
